<div ng-controller='ChatboxController'>

  <div class='input' ng-show='loggedIn'>
    <img ng-show='!userData' ng-model='userData' src='https://api.adorable.io/avatars/50/{{fullIP}}'>
    <img ng-show='userData' ng-model='userData' src='{{userData}}'>
   {{activeUser}}
    <input type='text' ng-model='mesg' placeholder='New message here..' />
    <input type='submit' value='Send' ng-click='sendMessage(mesg)'/>
    <img ng-show='!userData' src='app/images/linkedIn.png' ng-click='connectLinkedIn()'>
  </div>

  <ul ng-model='messages' style="list-style-type:none">

  <li ng-repeat='message in messages'>
    <img ng-if='message.linkedIn !== undefined' src='{{message.linkedIn}}'>
    <img ng-if='message.linkedIn === undefined' src="https://api.adorable.io/avatars/50/{{message.username}}">
    {{message.name}}: {{message.message}}
  </li>

  </ul>

</div>